body {
	font-family: tahoma, myriad pro;
	margin: 0px;
	font-size: 16px;
}
ul,ol{
	margin: 0px;
	padding: 0px;
}
#thongtin{
	width: 100%;
	height: 425px;
	background-color: #f1f1f1;
}
#k_thongtin{
	width: 100%;
	height: 350px;
	margin: 0 auto;
}
#khunglogin{
	background-color: #323a45;
	height: 75px;
	width: 100%;
}
#login{
	width: 1200px;
	height: 75px;
	margin:0 auto;
}
.dn{
	width: 130px;
	height: 75px;
	float: right;
}
.dn a{
	color: #fff;
	text-align: center;
	line-height: 75px;
	text-decoration: none;
}
#k_hotro{
	width: 1200px;
	height: 150px;
	margin:0 auto;
}
.hotro{
	width: 300px;
	height: 150px;
	float: left;
}
.logo{
	margin-top: 30px;
	width: 50px;
	height: 50px;
	float: left;
}
.chu{
	width: 250px;
	height: 50px;
	float: right;
	margin-top: 40px;
}
.chu li{
	text-indent: 20px;
	list-style: none;
}
.a{
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}
.b{
	color: #9b9b9b;
}
/*------------------------------*/
#k_modau{
	width: 1200px;
	height: 160px;
	margin:0 auto;
}
.k_logo{
	height: 160px;
	width: 170px;
	float: left;
	padding-left: 30px;;
}
.timkiem{
	height: 160px;
	width: 700px;
	float: left;
}
.k_soluongSP{
	height: 160px;
	width: 300px;
	float: left;
}
.k_timkiem{
	height: 90px;
	width: 450px;
	margin: auto;
}
.timkiem input:first-child {
	height: 68px;
	width: 355px;
	float: left;
	font-size: 20px;
	padding-left: 10px;
	border: none;
}
.timkiem input:last-child {
	height: 68px;
	width: 80px;
	background-image: url("images/kinhlup.png");
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -3000px;
	background-color: #45d8bb;
	border: none;
	margin: 0;
}
.soluongSP{
	width: 150px;
	height: 79px;
	float: right;
	font-size: 20px;
	padding-top: 30px;
	color: #43409b;
	text-align: center;

}
.logo_soluong{
	width: 79px;
	height: 79px;
	float: right;
}
#modau{
	width: 100%;
	height: 86px;
	margin: 0 auto;
	margin-top: -40px;
}
#k_menu{
	height: 86px;
	width: 1200px;
	background-color: #B45F04;
	margin: 0 auto;	
	border-radius: 5px;
}
#k_menu li{
	height: 80px;
	width: 150px;
	list-style: none;	
	display: inline-table;
	line-height: 80px;
}
.ok{
	background-color: #FF8000;
	border-radius: 50%;
}
.c{
	height: 80px;
	width: 780px;
}
#k_menu ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	display: block;
	text-align: center;
}
#k_menu li:hover {
	background-color: #474e58;
	width: 150px;
	height: 86px;
	border-radius: 50%;
}

/*----------------------------------*/
#k_tren{
	height: 870px;
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
}
#tren{
	height: 570px;
	width: 1200px;
	margin: 0 auto;
}
#lienket{
	height: 50px;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 50px;
	background-color: #f1f1f1;
	border-radius: 10px;
}
#lienket a{
	font-size: 20px;
	line-height: 50px;
	padding-left: 10px;
	color: #777777;
}
#map{
	height: 500px;
	width: 1200px;
}
#tt_lienhe{
	width: 1200px;
	height: 100px;
	border: 1px solid black;
}
.x{
	width: 300px;
	height: 70px;
	float: right;
	padding-top: 30px;
}
.p_logo{
	width: 170px;
	height: 90px;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}
/*------------------------*/
#k_duoi{
	width: 100%;
	height: 600px;
	margin-top: 25px;	
	margin: 0 auto;
}
#duoi{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}
#k_ttcuaban{
	height: 440px;
	width: 1200px;
}
.ttcanhan{
	height: 360px;
	width: 1140px;
	float: right;
}
.ttcanhan input{
	height: 30px;
	width: 950px;
	float: right;
	padding-left: 10px;
}
.k_ttcanhan{
	width: 1140px;
	height: 40px;
	margin-bottom: 25px;
}
.k_ttcanhan a{
	color: red;
}
.canhan{
	height: 30px;
	width: 150px;
	float: left;
	text-align: right;
	line-height: 30px;
}
.tieude{
	width: 1200px;
	height: 50px;
	float: left;
	margin-bottom: 20px;
}
.k_gui{
	width: 1200px;
	height: 30px;
	background-color: orange;

}
.gui input{
	width: 50px;
	height: 30px;
	background-color: #323a45;
	color: #fff;
	float: right;
	margin-top: 20px;
	border: none;
}
/*------------------------------*/
footer{
	width: 100%;
	height: 210px;
	margin: 0 auto;
	background-color: #B45F04;

}
#p_cuoi{
	width: 1200px;
	height: 210px;
	margin: 0 auto;

}
.trai{
	width: 300px;
	height: 210px;
	float: left;
}
.phai{
	width: 500px;
	height: 210px;
	float: right;
}
.k_chu{
	line-height: 23px;
	font-size: 15px;
	padding-top: 10px;
	color: #fff;
	list-style: none;
}
.fashon{
	width: 85px;
	height: 45px;
	border-bottom: 5px solid #FE9A2E;
	font-size: 20px;
	color: #fff;
	line-height: 45px;
}
.lienhe{
	width: 85px;
	height: 45px;
	border-bottom: 5px solid #FE9A2E;
	font-size: 20px;
	color: #fff;
	line-height: 45px;
}
.ds_lienhe{
	margin-top: 10px;
}
.ds_lienhe li{
	font-size: 15px;
	padding-top: 5px;
	list-style: none;
	padding-top: 5px;
	color: #fff;
}
